[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/fury-project/unbound
	branch = fury
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/fury-project/miniupnp
	branch = fury
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
